 
<div class="well">
        <ul class="nav nav-list">
            <li> 
                
                <a href="{{ path('fos_user_profile_show') }}"><i class="icon-info-sign icon-white"></i>Mes informations</a>
            </li>
            <br/>
            <li>
                <a href="{{ path('fos_user_profile_edit') }}"><i class="icon-edit icon-white"></i>Editer mes informations</a>
            </li>
            <br/>
            <li>
            <a href="{{ path('fos_user_change_password') }}"><i class="icon-wrench icon-white"></i>Changer mon mot de passe</a>
            </li>
            <br/>
            <li>
                <a href="{{ path('factures') }}"><i class=" icon-folder-open icon-white"></i>Mes factures</a>
            </li>
            <br/>      
            <li>
                <a href="{{ path('fos_user_security_logout') }}"><i class="icon-off icon-white"></i>Deconnexion</a>
            </li>
        </ul>
</div>