
{% extends "::layout/layout.html.twig" %}

{% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}


 {% block stylesheets %}
<!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/vendor_Acceuil/bootstrap/css/bootstrap.min.css') }}"/> 
        
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts_Acceuil/font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts_Acceuil/themify/themify-icons.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts_Acceuil/Linearicons-Free-v1.0.0/icon-font.min.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts_Acceuil/elegant-font/html-css/style.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor_Acceuil/animate/animate.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor_Acceuil/css-hamburgers/hamburgers.min.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor_Acceuil/animsition/css/animsition.min.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor_Acceuil/select2/select2.min.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor_Acceuil/daterangepicker/daterangepicker.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor_Acceuil/slick/slick.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/vendor_Acceuil/lightbox2/css/lightbox.min.css') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/css_Acceuil/util.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/css_Acceuil/main.css') }}"/>
            
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />

        
{% endblock %}
        
{% block body %}

<body class="animsition">
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">
                            
				<div class="item-slick1 item1-slick1 br" style="background-image: url({{ asset('img/images_Acceuil/image_acceuil11.jpg') }});">
				
                                



					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170 br">
					  <p><span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">   &nbsp; &nbsp; </span>&nbsp;</p>
					  <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp"> Nouvel Arrivage de Fruits et Légumes &nbsp; &nbsp; &nbsp; </h2>
						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
							<!-- Button -->
							
                                                        <a href="{{ path('produits')}}"class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4"> Envie de manger sain et local ? </a> 
								
							
						</div>
					</div>
				</div>

				<div class="item-slick1 item2-slick1" style="background-image: url({{ asset('img/images_Acceuil/image_acceuil2.jpg') }});">
				<br/>
				
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						

						<h2 class="caption2-slide1 xl-text4 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
							Nouvel Arrivage de Fruits et Légumes
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
							<!-- Button -->
							<a href="{{ path('produits')}}"class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4"> Envie de manger sain et local ? </a> 
						</div>
					</div>
				</div>

				<div class="item-slick1 item3-slick1" style="background-image: url({{ asset('img/images_Acceuil/image_acceuil4.jpg') }});">
	
			
				
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170"><span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft"> &nbsp; &nbsp; &nbsp; </span>
					  <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
							Nouvel Arrivage de Fruits et Légumes
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
							<!-- Button -->
							<a href="{{ path('produits')}}"class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4"> Envie de manger sain et local ? </a> 
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- Instagram -->



<!--===============================================================================================-->
	<script type="text/javascript" src="{{ asset('css/vendor_Acceuil/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{ asset('css/vendor_Acceuil/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<!-- <script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script> -->
	<script src="{{ asset('css/js_Acceuil/bootstrap-3.3.7.js') }}"></script>
	<script type="text/javascript" src="{{ asset('css/vendor_Acceuil/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{ asset('css/vendor_Acceuil/select2/select2.min.js') }}"></script>
<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{ asset('css/vendor_Acceuil/slick/slick.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('css/js_Acceuil/slick-custom.js') }}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{ asset('css/vendor_Acceuil/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{ asset('css/vendor_Acceuil/lightbox2/js/lightbox.min.js') }}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{ asset('css/vendor_Acceuil/sweetalert/sweetalert.min.js') }}"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<script src="{{ asset('css/js_Acceuil/main.js') }}"></script>

{% endblock %}

