<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}La Fraicheur Des 4 Saisons!!!{% endblock %}</title>
        <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
         
  
        
        
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="{{ path('produits') }}" title="Acceuil"><img src="{{ asset('img/home4.png') }}" alt="Image-acceuil"/><em><strong> LaFraicheurDes4Saisons.fr</strong></em> 
                       <img src="{{ asset('img/papaye.png') }}" alt="Image-acceuil"/>
                        <img src="{{ asset('img/4_4.png') }}" alt="Image-acceuil"/>
                        <img src="{{ asset('img/3_3.png') }}" alt="Image-acceuil"/>
                        <img src="{{ asset('img/1_1.png') }}" alt="Image-acceuil"/>
                        <img src="{{ asset('img/pomme.png') }}" alt="Image-acceuil"/>
                        <img src="{{ asset('img/fraise.png') }}" alt="Image-acceuil"/>
                        <img src="{{ asset('img/pasteque.png') }}" alt="Image-acceuil"/>
                    </a>
                    <div class="nav-collapse collapse">
                        {{render(controller('EcommerceEcommerceBundle:Produits:recherche')) }}    
                    </div>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        <hr />
        <footer id="footer" class="vspace20">
            <div class="container">
                <div class="row">
                    <div class="span4 offset1">
                        <h4>Informations</h4>
                        <ul class="nav nav-stacked">
                            {{ render(controller('PagesPagesBundle:Pages:menu')) }}
                        </ul>
                    </div> 

                    <div class="span4">
                        <h4>Notre entrepôt</h4>
                        <p><i class="icon-map-marker"></i>&nbsp;{{ adresse }}</p>
                    </div>
                        

                    <div class="span2">
                        <h4>Nous contacter</h4>
                        <p><i class="icon-phone"></i>&nbsp;Tel: {{ telephone }}</p>
                        <p><i class="icon-print"></i>&nbsp;Fax: {{ fax }}</p>
                        <p><i class="icon-envelope"></i>&nbsp;Email: {{ email }}</p>
                    </div>
                </div>
                    <div class="container">
                      <div class="row"> 
                       <center>
                                <div>
                            <!-- Facebook -->
                             <a target="_blank" title="Mangerbouger" href="http://www.mangerbouger.fr/" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><img src="{{ asset('img/icone-reseauxsociaux/manger-bouger-2x.png') }}" alt="Mangerbouger"/> </a>&nbsp;&nbsp;&nbsp;&nbsp;

                                   <a target="_blank" title="Facebook" href="https://www.facebook.com/profile.php?id=100028488789977" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><img src="{{ asset('img/icone-reseauxsociaux/facebook-icon.png') }}" alt="Facebook"/> </a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- //Facebook -->

                            <!-- Twitter -->
                                    <a target="_blank" title="Twitter" href="https://twitter.com/LFD4S?lang=fr" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;"><img src="{{ asset('img/icone-reseauxsociaux/twitter.png') }}" alt="Twitter"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- //Twitter -->

                            <!-- Google + -->
                                    <a target="_blank" title="Instagram" href="https://www.instagram.com/lafraicheurdes4saisons/" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;"><img src="{{ asset('img/icone-reseauxsociaux/instagramme.png') }}" alt="Instagram"/></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- //Google + -->

                            <!-- Linkedin -->

                                    <a target="_blank" title="Snapchat" href="https://www.snapchat.com/add/lfd4s" rel="nofollow"><img src="{{ asset('img/icone-reseauxsociaux/Snapchat.png') }}" alt="snapchat"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- //Email -->
                                </div>
                        </center> 
                       </div>
                    </div>   
                <div class="row">
                    <div class="span4">
                        <p>&copy;Copyright {{ "now"|date('Y') }} - La Fraicheur Des 4 Saisons </p>
                    </div>
                </div>
            </div>
        </footer>	
        <script src="https://js.stripe.com/v3/"></script>            
               
        <script src="web/js/base.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        
        {% block javascripts %}{% endblock %}
    </body>
</html>